* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Bg-img {
    background: #eee url(../../../images/Page/bg.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}